_site
.sass-cache
.jekyll-metadata
node_modules
assets/images/small
assets/images/medium
assets/images/large
*.swp

# Local Netlify folder
.netlify

assets/images/instagram/*
!assets/images/instagram/.gitkeep
_data/instagram.json